#red-ui-header span.red-ui-header-logo img {
    display: none !important;
}
a#menu-item-help, a#menu-item-node-red-version, .node-users-config-wrapper .alert-info {
    display: none !important;
}
#red-ui-header {
    color: #fff !important;
    background: rgb(2,2,2) !important;
    background: linear-gradient(145deg, rgb(29 29 29) 0%, rgb(114 123 34 / 91%) 100%) !important;
}
#red-ui-header #red-ui-header-button-deploy {
    background: linear-gradient(-60deg, rgb(71 84 84) 0%, rgba(253,252,45,0.9094012605042017) 100%) !important;
    color: #fff !important;
}
#red-ui-header .button-group {
    border: white 1px solid !important;
}
#red-ui-header .button {
    border: none !important;
}
label.enebular-admin-switchLabel {
    display: inline-block !important;
}
.node-users-config-wrapper .advanced-form-wrapper expanded {
    max-height: 500px !important;
}
